@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overscroll-behavior-y: contain;
  touch-action: none;
  user-select: none;
}

body {
  height: 100vh;
  width: 100vw;
}
